.myListing .jcarousel-container {
   /* -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #D4D0C8;
    border: 1px solid #808080;*/
}

.myListing .jcarousel-direction-rtl {
	direction: rtl;
}

.myListing .jcarousel-container-horizontal {
    width:  375px;
    padding: 20px 40px 20px 50px;
}
.myListing .jcarousel-container-horizontal-hover{
    width:  435px;
    padding: 20px 40px 20px 50px;
}
.myListing .jcarousel-clip {
    overflow: hidden;
}

.myListing .jcarousel-clip-horizontal {
    width:  375px;
    height: 170px;
}
.myListing .jcarousel-clip-horizontal-hover{
    width:  435px;
    height: 170px;
}

.myListing .jcarousel-item {
    width: 118px;
    height: 170px;
}

/*.myListing .jcarousel-item:hover,
.myListing .jcarousel-item:focus {}*/

.myListing .jcarousel-item-hover {
   	width: 146px;
    height: 170px;
}
.myListing .details
{
	display:none;
	text-transform:capitalize;
}
.myListing .imgBorder{
	background: transparent url(../images/taggedbg.gif) no-repeat center center;
	width: 125px;
    height: 90px;
    position: absolute;
    top: 0px;
    left: -3px;
}
.myListing .imgDiv{
	height:89px;
	width:118px;
	border:1px solid #2D2D2D;
	background-color:#FFFFFF;
}
.myListing .imgDivHover{
	height:110px;
	width:138px;
	border:1px solid #2D2D2D;
	background-color:#FFFFFF;
}
.myListing .imgLinks{
	width:120px;
	height:40px;
	position:absolute;
	top:95px;
}
.myListing .imgLinksHover{
	border:1px solid #2D2D2D;
	background-color:#9D9D9D;
	color:#2D2D2D;
	width:180px;
	height:50px;
	margin:-25px 0px 0px -22px;
	padding-top:50px;
    position: absolute;
	top:90px;
	z-index:2;
}
.myListing .jcarousel-item-horizontal {
    margin-left: 0px;
    margin-right: 7px;
}

.myListing .jcarousel-item-horizontal-hover{
    margin-left: 22px;
    margin-right: 20px;
}
/*.myListing .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 7px;
	margin-right: 0;
}*/

.myListing .jcarousel-item-placeholder {
}

/**
 *  Horizontal Buttons
 */
.myListing .jcarousel-next-horizontal {
    position: absolute;
    top: 43px;
    right: 0px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../images/galleryright2.gif) no-repeat 0 0;
}

.myListing .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(../images/galleryleft2.gif);
}

.myListing .jcarousel-next-horizontal:hover,
.myListing .jcarousel-next-horizontal:focus {
   /* background-position: -32px 0;*/
}

.myListing .jcarousel-next-horizontal:active {
   /* background-position: -64px 0;*/
}

.myListing .jcarousel-next-disabled-horizontal,
.myListing .jcarousel-next-disabled-horizontal:hover,
.myListing .jcarousel-next-disabled-horizontal:focus,
.myListing .jcarousel-next-disabled-horizontal:active {
    cursor: default;
   /* background-position: -96px 0;*/
   background-image: url(../images/galleryright1.gif);
}

.myListing .jcarousel-prev-horizontal {
    position: absolute;
    top: 43px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../images/galleryleft2.gif) no-repeat 0 0;
}

.myListing .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(../images/galleryright2.gif);
}

.myListing .jcarousel-prev-horizontal:hover,
.myListing .jcarousel-prev-horizontal:focus {
   /* background-position: -32px 0;*/
}

.myListing .jcarousel-prev-horizontal:active {
   /* background-position: -64px 0;*/
}

.myListing .jcarousel-prev-disabled-horizontal,
.myListing .jcarousel-prev-disabled-horizontal:hover,
.myListing .jcarousel-prev-disabled-horizontal:focus,
.myListing .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    /*background-position: -96px 0;*/
	 background-image: url(../images/galleryleft1.gif);
}

/**
 *  Vertical Buttons
 */
.myListing .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.gif) no-repeat 0 0;
}

.myListing .jcarousel-next-vertical:hover,
.myListing .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

.myListing .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.myListing .jcarousel-next-disabled-vertical,
.myListing .jcarousel-next-disabled-vertical:hover,
.myListing .jcarousel-next-disabled-vertical:focus,
.myListing .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.myListing .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.gif) no-repeat 0 0;
}

.myListing .jcarousel-prev-vertical:hover,
.myListing .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

.myListing .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.myListing .jcarousel-prev-disabled-vertical,
.myListing .jcarousel-prev-disabled-vertical:hover,
.myListing .jcarousel-prev-disabled-vertical:focus,
.myListing .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}
